In [1]:
import numpy as np
import pandas as pd
from tensorflow.keras.utils import to_categorical

In [2]:
X_train = pd.read_csv("input/train.csv")
X_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
X_test = pd.read_csv("input/test.csv")
X_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
X_train.drop('PassengerId', inplace = True, axis = 1)
X_test.drop('PassengerId', inplace = True, axis = 1)

y_train = X_train.iloc[:, 0].values.astype('int32')
X_train.drop('Survived', inplace = True, axis = 1)

In [5]:
X_train.Sex.unique()

array(['male', 'female'], dtype=object)

In [6]:
X_test.Sex.unique()

array(['male', 'female'], dtype=object)

In [7]:
X_train["Sex"] = X_train["Sex"].replace(["male", "female"],[-1, 1])
X_test["Sex"] = X_test["Sex"].replace(["male", "female"],[-1, 1])

In [8]:
X_train["Name"] = X_train["Name"].str.lower()
X_test["Name"] = X_test["Name"].str.lower()

In [9]:
X_train.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [10]:
X_test.Embarked.unique()

array(['Q', 'S', 'C'], dtype=object)

In [11]:
X_train = X_train.join(pd.get_dummies(X_train.Embarked, prefix = 'Embarked'))
X_train.drop('Embarked', inplace = True, axis = 1)

X_test = X_test.join(pd.get_dummies(X_test.Embarked, prefix = 'Embarked'))
X_test.drop('Embarked', inplace = True, axis = 1)

In [12]:
X_train.shape

(891, 12)

In [13]:
X_test.shape

(418, 12)

In [14]:
X_train['Name'] = X_train['Name'].str.extract('.*, ([A-Za-z]+)\..*', expand = False).str.strip()
X_test['Name'] = X_test['Name'].str.extract('.*, ([A-Za-z]+)\..*', expand = False).str.strip()

In [15]:
X_train.Name.unique()

array(['mr', 'mrs', 'miss', 'master', 'don', 'rev', 'dr', 'mme', 'ms',
       'major', 'lady', 'sir', 'mlle', 'col', 'capt', nan, 'jonkheer'],
      dtype=object)

In [16]:
X_test.Name.unique()

array(['mr', 'mrs', 'miss', 'master', 'ms', 'col', 'rev', 'dr', 'dona'],
      dtype=object)

In [17]:
X_train = X_train.join(pd.get_dummies(X_train.Name, prefix = 'Title'))
X_train.drop('Name', inplace = True, axis = 1)

X_test = X_test.join(pd.get_dummies(X_test.Name, prefix = 'Title'))
X_test.drop('Name', inplace = True, axis = 1)

In [18]:
X_train.shape

(891, 27)

In [19]:
X_test.shape

(418, 20)

In [20]:
X_test = X_test.reindex(columns = X_train.columns, fill_value=0)

In [21]:
X_train['Age'] = X_train['Age'].fillna(0.0)
X_test['Age'] = X_test['Age'].fillna(0.0)

In [22]:
X_train.drop('Ticket', inplace = True, axis = 1)
X_test.drop('Ticket', inplace = True, axis = 1)

In [23]:
X_train['Fare'] = X_train['Fare'].fillna(0.0)
X_test['Fare'] = X_test['Fare'].fillna(0.0)

In [24]:
X_train.shape

(891, 26)

In [25]:
X_test.shape

(418, 26)

In [26]:
X_train['Cabin'] = X_train['Cabin'].str.extract('^([A-Z]{1}).*', expand = False).str.strip()
X_test['Cabin'] = X_test['Cabin'].str.extract('^([A-Z]{1}).*', expand = False).str.strip()

In [27]:
X_train.Cabin.unique()

array([nan, 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [28]:
X_test.Cabin.unique()

array([nan, 'B', 'E', 'A', 'C', 'D', 'F', 'G'], dtype=object)

In [29]:
X_train = X_train.join(pd.get_dummies(X_train.Cabin, prefix = 'Cabin'))
X_train.drop('Cabin', inplace = True, axis = 1)

X_test = X_test.join(pd.get_dummies(X_test.Cabin, prefix = 'Cabin'))
X_test.drop('Cabin', inplace = True, axis = 1)

In [30]:
X_test = X_test.reindex(columns = X_train.columns, fill_value=0)

In [31]:
X_train

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Title_capt,...,Title_rev,Title_sir,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T
0,3,-1,22.0,1,0,7.2500,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,1,1,38.0,1,0,71.2833,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,3,1,26.0,0,0,7.9250,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,35.0,1,0,53.1000,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
4,3,-1,35.0,0,0,8.0500,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,2,-1,27.0,0,0,13.0000,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
887,1,1,19.0,0,0,30.0000,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
888,3,1,0.0,1,2,23.4500,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
889,1,-1,26.0,0,0,30.0000,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
890,3,-1,32.0,0,0,7.7500,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [32]:
X_test

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Title_capt,...,Title_rev,Title_sir,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T
0,3,-1,34.5,0,0,7.8292,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,3,1,47.0,1,0,7.0000,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,2,-1,62.0,0,0,9.6875,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,3,-1,27.0,0,0,8.6625,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,3,1,22.0,1,1,12.2875,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,3,-1,0.0,0,0,8.0500,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
414,1,1,39.0,0,0,108.9000,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
415,3,-1,38.5,0,0,7.2500,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
416,3,-1,0.0,0,0,8.0500,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
417,3,-1,0.0,1,1,22.3583,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
X_train.isnull().values.any()

False

In [34]:
X_test.isnull().values.any()

False

In [35]:
X_train.shape

(891, 33)

In [36]:
# Fix random seed for reproducibility

seed = 42
np.random.seed(seed)

In [37]:
from keras.models import Sequential
from keras.layers.core import Lambda, Dense, Dropout
from keras.layers import BatchNormalization, Flatten

In [38]:
import tensorflow as tf
from tensorflow import keras

In [39]:
inputs = tf.keras.Input(shape = (33,))
x = Dense(33, activation = 'relu')(inputs)
predictions = Dense(1, activation = 'sigmoid')(x)

Metal device set to: Apple M1

2021-11-27 22:00:20.363250: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:305] Could not identify NUMA node of platform GPU ID 0, defaulting to 0. Your kernel may not have been built with NUMA support.
2021-11-27 22:00:20.363456: I tensorflow/core/common_runtime/pluggable_device/pluggable_device_factory.cc:271] Created TensorFlow device (/job:localhost/replica:0/task:0/device:GPU:0 with 0 MB memory) -> physical PluggableDevice (device: 0, name: METAL, pci bus id: <undefined>)

In [40]:
model = tf.keras.Model(inputs = inputs, outputs = predictions)

model.compile(optimizer = tf.keras.optimizers.RMSprop(0.001),
              loss = 'binary_crossentropy',
              metrics = ['accuracy'])

model.fit(X_train, y_train, epochs = 100)

2021-11-27 22:00:22.079609: I tensorflow/compiler/mlir/mlir_graph_optimization_pass.cc:185] None of the MLIR Optimization Passes are enabled (registered 2)
2021-11-27 22:00:22.079854: W tensorflow/core/platform/profile_utils/cpu_utils.cc:128] Failed to get CPU frequency: 0 Hz
2021-11-27 22:00:22.198835: I tensorflow/core/grappler/optimizers/custom_graph_optimizer_registry.cc:112] Plugin optimizer for device_type GPU is enabled.

Epoch 1/100
28/28 [==============================] - 0s 5ms/step - loss: 2.4281 - accuracy: 0.3266
Epoch 2/100
28/28 [==============================] - 0s 4ms/step - loss: 0.7695 - accuracy: 0.5073
Epoch 3/100
28/28 [==============================] - 0s 4ms/step - loss: 0.6671 - accuracy: 0.6016
Epoch 4/100
28/28 [==============================] - 0s 4ms/step - loss: 0.6080 - accuracy: 0.6689
Epoch 5/100
28/28 [==============================] - 0s 4ms/step - loss: 0.5629 - accuracy: 0.7486
Epoch 6/100
28/28 [==============================] - 0s 4ms/step - loss: 0.5330 - accuracy: 0.7767
Epoch 7/100
28/28 [==============================] - 0s 4ms/step - loss: 0.5008 - accuracy: 0.7789
Epoch 8/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4868 - accuracy: 0.7912
Epoch 9/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4807 - accuracy: 0.7890
Epoch 10/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4712 - accuracy: 0.7890
Epoch 11/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4629 - accuracy: 0.7991
Epoch 12/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4617 - accuracy: 0.7935
Epoch 13/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4532 - accuracy: 0.7980
Epoch 14/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4536 - accuracy: 0.7946
Epoch 15/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4487 - accuracy: 0.7969
Epoch 16/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4515 - accuracy: 0.8025
Epoch 17/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4451 - accuracy: 0.8036
Epoch 18/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4376 - accuracy: 0.7969
Epoch 19/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4421 - accuracy: 0.8013
Epoch 20/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4374 - accuracy: 0.8058
Epoch 21/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4303 - accuracy: 0.8047
Epoch 22/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4310 - accuracy: 0.8081
Epoch 23/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4299 - accuracy: 0.8070
Epoch 24/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4308 - accuracy: 0.7991
Epoch 25/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4292 - accuracy: 0.8126
Epoch 26/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4202 - accuracy: 0.8171
Epoch 27/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4231 - accuracy: 0.8171
Epoch 28/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4201 - accuracy: 0.8159
Epoch 29/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4196 - accuracy: 0.8272
Epoch 30/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4202 - accuracy: 0.8238
Epoch 31/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4199 - accuracy: 0.8260
Epoch 32/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4168 - accuracy: 0.8171
Epoch 33/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4187 - accuracy: 0.8260
Epoch 34/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4165 - accuracy: 0.8272
Epoch 35/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4161 - accuracy: 0.8272
Epoch 36/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4056 - accuracy: 0.8294
Epoch 37/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4129 - accuracy: 0.8328
Epoch 38/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4144 - accuracy: 0.8260
Epoch 39/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4080 - accuracy: 0.8305
Epoch 40/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4105 - accuracy: 0.8305
Epoch 41/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4076 - accuracy: 0.8316
Epoch 42/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4138 - accuracy: 0.8204
Epoch 43/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4105 - accuracy: 0.8283
Epoch 44/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4088 - accuracy: 0.8283
Epoch 45/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4086 - accuracy: 0.8316
Epoch 46/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4035 - accuracy: 0.8294
Epoch 47/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4091 - accuracy: 0.8249
Epoch 48/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4077 - accuracy: 0.8272
Epoch 49/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4019 - accuracy: 0.8316
Epoch 50/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4052 - accuracy: 0.8328
Epoch 51/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4034 - accuracy: 0.8316
Epoch 52/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4036 - accuracy: 0.8272
Epoch 53/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4064 - accuracy: 0.8272
Epoch 54/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4011 - accuracy: 0.8339
Epoch 55/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4015 - accuracy: 0.8272
Epoch 56/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3962 - accuracy: 0.8339
Epoch 57/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4003 - accuracy: 0.8328
Epoch 58/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4006 - accuracy: 0.8272
Epoch 59/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4041 - accuracy: 0.8305
Epoch 60/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4023 - accuracy: 0.8350
Epoch 61/100
28/28 [==============================] - 0s 4ms/step - loss: 0.4031 - accuracy: 0.8339
Epoch 62/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3982 - accuracy: 0.8328
Epoch 63/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3955 - accuracy: 0.8361
Epoch 64/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3999 - accuracy: 0.8339
Epoch 65/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3970 - accuracy: 0.8361
Epoch 66/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3986 - accuracy: 0.8294
Epoch 67/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3936 - accuracy: 0.8350
Epoch 68/100
28/28 [==============================] - 0s 5ms/step - loss: 0.4001 - accuracy: 0.8272
Epoch 69/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3973 - accuracy: 0.8328
Epoch 70/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3960 - accuracy: 0.8316
Epoch 71/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3955 - accuracy: 0.8316
Epoch 72/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3935 - accuracy: 0.8316
Epoch 73/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3971 - accuracy: 0.8249
Epoch 74/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3928 - accuracy: 0.8305
Epoch 75/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3932 - accuracy: 0.8328
Epoch 76/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3925 - accuracy: 0.8429
Epoch 77/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3960 - accuracy: 0.8260
Epoch 78/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3924 - accuracy: 0.8305
Epoch 79/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3924 - accuracy: 0.8418
Epoch 80/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3896 - accuracy: 0.8384
Epoch 81/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3930 - accuracy: 0.8339
Epoch 82/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3960 - accuracy: 0.8339
Epoch 83/100

28/28 [==============================] - 0s 4ms/step - loss: 0.3908 - accuracy: 0.8350
Epoch 84/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3890 - accuracy: 0.8361
Epoch 85/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3883 - accuracy: 0.8305
Epoch 86/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3910 - accuracy: 0.8339
Epoch 87/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3970 - accuracy: 0.8339
Epoch 88/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3898 - accuracy: 0.8328
Epoch 89/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3933 - accuracy: 0.8384
Epoch 90/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3915 - accuracy: 0.8339
Epoch 91/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3897 - accuracy: 0.8283
Epoch 92/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3930 - accuracy: 0.8384
Epoch 93/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3908 - accuracy: 0.8361
Epoch 94/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3880 - accuracy: 0.8361
Epoch 95/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3884 - accuracy: 0.8373
Epoch 96/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3897 - accuracy: 0.8339
Epoch 97/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3913 - accuracy: 0.8328
Epoch 98/100
28/28 [==============================] - 0s 5ms/step - loss: 0.3877 - accuracy: 0.8316
Epoch 99/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3885 - accuracy: 0.8316
Epoch 100/100
28/28 [==============================] - 0s 4ms/step - loss: 0.3851 - accuracy: 0.8328