In [1]:
import numpy as np
import pandas as pd
from keras.utils import to_categorical

In [2]:
X_train = pd.read_csv("input/train.csv")
X_train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [3]:
X_test = pd.read_csv("input/test.csv")
X_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",female,47.0,1,0,363272,7.0000,NaN,S
2,894,2,"Myles, Mr. Thomas Francis",male,62.0,0,0,240276,9.6875,NaN,Q
3,895,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S

In [4]:
X_train.drop('PassengerId', inplace = True, axis = 1)
X_test.drop('PassengerId', inplace = True, axis = 1)

y_train = X_train.iloc[:, 0].values.astype('int32')
X_train.drop('Survived', inplace = True, axis = 1)

In [5]:
X_train.Sex.unique()

array(['male', 'female'], dtype=object)

In [6]:
X_test.Sex.unique()

array(['male', 'female'], dtype=object)

In [7]:
X_train["Sex"] = X_train["Sex"].replace(["male", "female"],[-1, 1])
X_test["Sex"] = X_test["Sex"].replace(["male", "female"],[-1, 1])

In [8]:
X_train["Name"] = X_train["Name"].str.lower()
X_test["Name"] = X_test["Name"].str.lower()

In [9]:
X_train.Embarked.unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [10]:
X_test.Embarked.unique()

array(['Q', 'S', 'C'], dtype=object)

In [11]:
embarked_types = ['Q', 'S', 'C']
X_train = X_train.join(pd.get_dummies(X_train.Embarked, prefix = 'Embarked'))
X_train.drop('Embarked', inplace = True, axis = 1)

X_test = X_test.join(pd.get_dummies(X_test.Embarked, prefix = 'Embarked'))
X_test.drop('Embarked', inplace = True, axis = 1)

In [12]:
X_train['Name'] = X_train['Name'].str.extract('.*, ([A-Za-z]+)\..*', expand = False).str.strip()
X_test['Name'] = X_test['Name'].str.extract('.*, ([A-Za-z]+)\..*', expand = False).str.strip()

In [13]:
X_train.Name.unique()

array(['mr', 'mrs', 'miss', 'master', 'don', 'rev', 'dr', 'mme', 'ms',
       'major', 'lady', 'sir', 'mlle', 'col', 'capt', nan, 'jonkheer'],
      dtype=object)

In [14]:
X_test.Name.unique()

array(['mr', 'mrs', 'miss', 'master', 'ms', 'col', 'rev', 'dr', 'dona'],
      dtype=object)

In [15]:
title_types = ['mr', 'mrs', 'miss', 'master', 'don', 'rev', 'dr', 'mme', 'ms',
       'major', 'lady', 'sir', 'mlle', 'col', 'capt', 'jonkheer']
X_train = X_train.join(pd.get_dummies(X_train.Name, prefix = 'Title'))
X_train.drop('Name', inplace = True, axis = 1)

X_test = X_test.join(pd.get_dummies(X_test.Name, prefix = 'Title'))
X_test.drop('Name', inplace = True, axis = 1)

In [16]:
X_train['Age'] = X_train['Age'].fillna(0.0) / 100.0
X_test['Age'] = X_test['Age'].fillna(0.0) / 100.0

In [17]:
X_train.drop('Ticket', inplace = True, axis = 1)
X_test.drop('Ticket', inplace = True, axis = 1)

In [18]:
X_train['Fare'] = X_train['Fare'].fillna(0.0) / 512.3292
X_test['Fare'] = X_test['Fare'].fillna(0.0) / 512.3292

In [19]:
X_train['Pclass'] = X_train['Pclass'] / 3.0
X_test['Pclass'] = X_test['Pclass'] / 3.0

In [20]:
X_train['SibSp'] = X_train['SibSp'] / 8.0
X_test['SibSp'] = X_test['SibSp'] / 8.0

In [21]:
X_train['Parch'] = X_train['Parch'] / 9.0
X_test['Parch'] = X_test['Parch'] / 9.0

In [22]:
X_train['Cabin'] = X_train['Cabin'].str.extract('^([A-Z]{1}).*', expand = False).str.strip()
X_test['Cabin'] = X_test['Cabin'].str.extract('^([A-Z]{1}).*', expand = False).str.strip()

In [23]:
X_train.Cabin.unique()

array([nan, 'C', 'E', 'G', 'D', 'A', 'B', 'F', 'T'], dtype=object)

In [24]:
X_test.Cabin.unique()

array([nan, 'B', 'E', 'A', 'C', 'D', 'F', 'G'], dtype=object)

In [25]:
cabin_types = ['C', 'E', 'G', 'D', 'A', 'B', 'F', 'T']
X_train = X_train.join(pd.get_dummies(X_train.Cabin, prefix = 'Cabin'))
X_train.drop('Cabin', inplace = True, axis = 1)

X_test = X_test.join(pd.get_dummies(X_test.Cabin, prefix = 'Cabin'))
X_test.drop('Cabin', inplace = True, axis = 1)

In [26]:
X_train

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Title_capt,...,Title_rev,Title_sir,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G,Cabin_T
0,1.000000,-1,0.22,0.125,0.000000,0.014151,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
1,0.333333,1,0.38,0.125,0.000000,0.139136,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,1.000000,1,0.26,0.000,0.000000,0.015469,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,0.333333,1,0.35,0.125,0.000000,0.103644,0,0,1,0,...,0,0,0,0,1,0,0,0,0,0
4,1.000000,-1,0.35,0.000,0.000000,0.015713,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,0.666667,-1,0.27,0.000,0.000000,0.025374,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
887,0.333333,1,0.19,0.000,0.000000,0.058556,0,0,1,0,...,0,0,0,1,0,0,0,0,0,0
888,1.000000,1,0.00,0.125,0.222222,0.045771,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
889,0.333333,-1,0.26,0.000,0.000000,0.058556,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
890,1.000000,-1,0.32,0.000,0.000000,0.015127,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [27]:
X_test

,Pclass,Sex,Age,SibSp,Parch,Fare,Embarked_C,Embarked_Q,Embarked_S,Title_col,...,Title_mrs,Title_ms,Title_rev,Cabin_A,Cabin_B,Cabin_C,Cabin_D,Cabin_E,Cabin_F,Cabin_G
0,1.000000,-1,0.345,0.000,0.000000,0.015282,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1.000000,1,0.470,0.125,0.000000,0.013663,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
2,0.666667,-1,0.620,0.000,0.000000,0.018909,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1.000000,-1,0.270,0.000,0.000000,0.016908,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,1.000000,1,0.220,0.125,0.111111,0.023984,0,0,1,0,...,1,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
413,1.000000,-1,0.000,0.000,0.000000,0.015713,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
414,0.333333,1,0.390,0.000,0.000000,0.212559,1,0,0,0,...,0,0,0,0,0,1,0,0,0,0
415,1.000000,-1,0.385,0.000,0.000000,0.014151,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
416,1.000000,-1,0.000,0.000,0.000000,0.015713,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
417,1.000000,-1,0.000,0.125,0.111111,0.043640,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [28]:
X_train.isnull().values.any()

False

In [29]:
X_test.isnull().values.any()

False

In [30]:
X_train.shape

(891, 33)

In [31]:
# Fix random seed for reproducibility

seed = 42
np.random.seed(seed)

In [32]:
from keras.models import Sequential
from keras.layers.core import Lambda, Dense, Dropout
from keras.layers import BatchNormalization, Flatten

In [34]:
import tensorflow as tf
from tensorflow import keras

In [35]:
inputs = tf.keras.Input(shape = (33,))

x = Dense(64, activation = 'relu')(inputs)
x = Dropout(0.75)(x)
x = BatchNormalization()(x)
x = Dense(32, activation = 'relu')(x)
x = Dropout(0.75)(x)
x = BatchNormalization()(x)
predictions = Dense(2, activation = 'softmax')(x)

In [36]:
model = tf.keras.Model(inputs = inputs, outputs = predictions)

model.compile(optimizer = tf.keras.optimizers.RMSprop(0.001),
              loss = 'binary_crossentropy',
              metrics = ['accuracy'])

model.fit(X_train, y_train, batch_size = 32, epochs = 5)

Epoch 1/5
28/28 [==============================] - 0s 2ms/step - loss: 1.0239 - accuracy: 0.5230
Epoch 2/5
28/28 [==============================] - 0s 2ms/step - loss: 0.9647 - accuracy: 0.4871
Epoch 3/5
28/28 [==============================] - 0s 2ms/step - loss: 0.9217 - accuracy: 0.5039
Epoch 4/5
28/28 [==============================] - 0s 2ms/step - loss: 0.8592 - accuracy: 0.5152
Epoch 5/5
28/28 [==============================] - 0s 2ms/step - loss: 0.8327 - accuracy: 0.5062